@media (max-width: 1024px) {
    #video-container iframe {
        width: 90%;
        height: 60vh;
    }
}

@media (max-width: 768px) {
    #video-container iframe {
        width: 95%;
        height: 50vh;
    }
}
